{% extends "layout.html" %}
{% block body %}
    <div class="check-in">
    <div class="check-in-title">
  <h2>Регистрация</h2>
    </div>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <div class="check-in-form">
  <form class="form-group" action="{{ url_for('check_in') }}" method=post>
      <label for="username">Пользователь</label>
      <input class="form-control" type=text name=username placeholder="Пользователь">
      <label for="password">Пароль</label>
      <input class="form-control" type=password name=password placeholder="Пароль">
      <label for="password-2">Повторите пароль</label>
      <input class="form-control" type=password name=password-2 placeholder="Пароль">
      <input class="btn btn-info" type=submit value='Зарегестрироваться'>
  </form>
    </div>
    </div>
{% endblock %}